---
import { graphql } from "@/gql";
import { request } from "@/graphql";

const query = await request(
  graphql(`
    query IndexQuery {
      me {
        name
      }
    }
  `),
);
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>XiNiHa's Blog</title>
  </head>
  <body>{query.me.name}</body>
</html>
