---
import { type FragmentType, graphql, useFragment } from "@/gql";

import { getPublicationTitle } from "./publication/PublicationTitle.astro";

interface Props {
  title?: string;
  $publication: FragmentType<typeof LayoutFragment>;
}

const LayoutFragment = graphql(`
  fragment LayoutFragment on Publication {
    ...PublicationTitleFragment
  }
`);

const { title, $publication } = Astro.props;
const publication = useFragment(LayoutFragment, $publication);
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
      {title ?? getPublicationTitle(publication)}
    </title>
    <style is:global>
      * {
        word-break: keep-all;
      }
    </style>
    <script>
      import htmx from "htmx.org";

      window.htmx = htmx;
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
